<section class="resume-section" id="friends">
    <div class="resume-section-content">

        <h2 class="mb-5 text-center">Friends</h2>
        <div class="ml-5 row">
            <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="./assets/friend.png" alt="Card image cap">
                    <div class="card-footer">
                        <h4 class="card-text text-center">Friend name</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>