     <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info shadow" id="mainNav">
    <a class="navbar-brand">
        <img src="/images/logo2.png" style="height: 45px; width:auto">
    </a>
    <!-- Navbar-toggler displays in smaller size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar tabs -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <div class="d-none d-lg-block float-right ml-2 mr-2"><img id="profile-img" src="{{profile_picture}}"
                    class="img-fluid rounded-circle mx-auto" alt="profile-img"></div>
            <li class="nav-item mr-1 ml-2">
                <h5 class="font-weight-bold pt-3">{{first_name}} {{last_name}}</h5>
            </li>
            <li class="nav-item mr-2 ml-2 mt-2 "><a id="my-profile" href="/profile" type="button"
                    class="btn btn-warning btn-sm">My
                    Profile</a></li>
            <li class="nav-item mr-2 ml-2 mt-2"><button class="btn btn-dark btn-sm" id="logout">Logout</button></li>
        </ul>
    </div>
    <form class="search-form form-inline my-2 my-lg-0">
        <input id="searchBtn" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0 " type="submit">Search</button>
    </form>
</nav>