<div class="row d-flex justify-content-center mb-3">
    <div class="post-form card w-75">
        <div class="card-header">
            <img id="profile-img" src="./assets/img.png" class="rounded float-left" alt="profile-img">
            <h5 id="name-surname" class="float-left pl-3">Name Surname</h5>
        </div>
        <div class="card-body">
            <textarea class="form-control mb-3" id="content" rows="3" minlength="20"></textarea>
            <a href="#" class="btn btn-primary">+ Add Screenshot</a>
            <a href="#" class="btn btn-primary">+ Add File</a>
            <a href="#" class="btn btn-danger">Post</a>
        </div>
    </div>
</div>