<div class="row d-flex justify-content-center mb-3">
    <div class="post-card card w-75">
        <div class="card-header">
            <img id="profile-img" src="./assets/img.png" class="rounded float-left" alt="profile-img">
            <!-- <h5 id="name-surname" class="float-left pl-3">Name Surname</h5> -->
            <ul id="btn-list" class="float-left pl-2">
                <li>
                    <h5><b>Name Surname</b></h5>
                </li>
                <li>
                    <h6 class="text-muted">Date & Time </h6>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
            <img id="post-img" src="./assets/post-img.png" class="img-thumbnail rounded mx-auto d-block" alt="post-img">
            <div class="input-group mt-3 mb-3 justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="file-name">File-name</span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="download">Download</button>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link"><i class="far fa-thumbs-up"></i> Like</a>
            <a href="#" class="card-link"><i class="far fa-thumbs-down"></i> Dislike</a>
            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
        </div>
    </div>
</div>