<main id="feeds-page">
    {{> navbar user}}
    <div class="container-fluid p-0">
        <section class="profile-section mx-auto">
            <div class="profile-section-content">
                {{> post-form user}}
                {{> post-info-feeds }}
            </div>
        </section>
</main>
<script>
    var model = {{ json users }};

    console.log('My Model:', model);
</script>