<!-- Navbar -->
{{> home-navbar}}
<main class="signup-form d-flex justify-content-center mt-3 mb-5">
  {{> sign-up-form}}
</main>
<script src="/js/sign-up.js"></script>
<script src="/js/login.js"></script>