<main id="profile-page">
    {{> side-navbar}}
    <div class="container-fluid p-0">
        <section class="profile-section">
            <div class="profile-section-content">
                {{> post-form }}
                {{#each posts as |post|}}
                {{> post-info post}}
                {{/each}}
            </div>
        </section>

</main>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="/js/upload-profile-picture.js"></script>
<script src="/js/upload-screenshot.js"></script>
<script src="/js/add-post.js"></script>
<script src="/js/add-code.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/like.js"></script>
<script src="/js/dislike.js"></script>
<script src="/js/add-comment.js"></script>
<script src="/js/delete-comment.js"></script>