{{> navbar user}}
<main id="search-results-page" class="container mt-3 mb-5">
    <div class="container mt-3 mb-5">
        {{#each users as |user|}}
        {{> user}}
        {{/each}}
    </div>
</main>