<main class="signup-form d-flex justify-content-center mt-3 mb-5">
        <div class="card  w-50">
            <div class="card-header text-center">
                <h3>Create an Account</h3>
            </div>
            <div class="card-body">
                <form class="m-3">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" placeholder="First Name">
                        <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Profile Picture</span>
                        </div>
                        <input type="text" class="form-control" placeholder="JPEG, PNG, GIF" aria-label="profile-picture" aria-describedby="add-profile-picture">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="add-profile-picture">+ Add Picture</button>
                        </div>
                      </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="date-of-birth">Date of Birth</span>
                        </div>
                        <input id="textinput" name="textinput" type="date" placeholder="placeholder"
                            class="form-control input-md">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Location</span>
                        </div>
                        <input type="text" aria-label="City" class="form-control" placeholder="City">
                        <input type="text" aria-label="Country" class="form-control" placeholder="Country">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Programming languages</span>
                        </div>
                        <input type="text" aria-label="Programming languages" class="form-control"
                            placeholder="Programming languages">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email">Email Address</span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                            aria-describedby="email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password">password</span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="password">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="verify-password">Password</span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="verify-password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger m-3 text-center pl-4 pr-4" id="sign-up-button">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="/js/sign-up.js"></script>